<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="robots" content="noindex,nofollow">
		<meta name="viewport" content="width=device-width,maximum-scale=1,user-scalable=no,minimal-ui">
		<link rel="stylesheet" type="text/css" href="https://www.ganahe.top/DIYWeb/404/css/d503b249c1a94df5bba2adcbf7e2f9f6.css">
		<link rel="stylesheet" type="text/css" href="https://www.ganahe.top/DIYWeb/404/css/404.css">
		<title>	404 Not found</title>
		<link rel="icon" type="image/png" href="https://www.ganahe.top//images/tag_larger.png"/>
	</head>
	<body>
<div class="stars"></div>

<div class="sun-moon">
	<div class="sun"></div>
	<div class="moon"></div>
</div>

<div id="js-hills" class="background hills"></div>
<div id="js-country" class="background country"></div>
<div id="js-foreground" class="background foreground"></div>

<div class="error-content">
	请在浏览器查看定位点在地图上的详细信息.
</div>
<h2 class="site-title" style="opacity: 1; top: 0px;"> GanAHE 的小创元世纪</h2>

<a href="/" class="button-home">返回</a>

<div class="code">
	<span>4</span>
	<span>0</span>
	<span>4</span>
</div>
	</body>
</html>
