absl-py==0.8.1
altgraph==0.16.1
astor==0.8.0
astroid==2.2.5
atomicwrites==1.3.0
attrs==19.3.0
beautifulsoup4==4.8.0
bs4==0.0.1
captcha==0.3
certifi==2019.6.16
chardet==3.0.4
Click==7.0
colorama==0.4.1
coverage==4.5.4
cycler==0.10.0
decorator==4.4.2
docopt==0.6.2
docx==0.2.4
Flask==1.1.1
future==0.17.1
gast==0.2.2
google-pasta==0.1.7
grpcio==1.24.1
h5py==2.10.0
html-table==1.0
hyperlpr==0.0.2
idna==2.8
imageio==2.8.0
imageio-ffmpeg==0.4.1
importlib-metadata==1.3.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
joblib==0.14.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.0.1
lazy-object-proxy==1.4.2
lxml==4.4.1
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.0.3
mccabe==0.6.1
more-itertools==8.0.2
moviepy==1.0.2
mpmath==1.1.0
networkx==2.4
numpy==1.18.5+mkl
opencv-python==4.2.0.34
opt-einsum==3.1.0
packaging==19.2
pandas==0.25.0
pdfminer3k==1.3.1
pefile==2019.4.18
Pillow==6.2.0
pipreqs==0.4.10
pluggy==0.13.1
ply==3.11
proglog==0.1.9
protobuf==3.10.0
public==2019.4.13
py==1.8.1
PyInstaller==3.5
pylint==2.3.1
PyOpenGL==3.1.4
PyOpenGL-accelerate==3.1.4
pyparsing==2.3.1
pypiwin32==223
PyQt5==5.13.0
PyQt5-sip==4.19.19
PyQt5-stubs==5.13.0.1
pyqt5-tools==5.13.0.1.5
pytest==5.3.2
python-dateutil==2.8.0
python-docx==0.8.10
python-dotenv==0.10.3
pytz==2019.2
PyWavelets==1.1.1
pywin32==225
pywin32-ctypes==0.2.0
PyYAML==5.3.1
read==2019.4.13
requests==2.22.0
scikit-image==0.17.2
scikit-learn==0.22.2.post1
scipy==1.4.1
selenium==3.141.0
six==1.12.0
sklearn==0.0
soupsieve==1.9.3
splinter==0.12.0
sympy==1.5.1
tensorboard==2.0.0
tensorflow==1.14.0
tensorflow-estimator==2.0.0
termcolor==1.1.0
tifffile==2020.6.3
tqdm==4.45.0
typed-ast==1.4.0
urllib3==1.25.3
virtualenv==16.7.5
wcwidth==0.1.7
Werkzeug==0.16.0
wrapt==1.11.2
yarg==0.1.9
YOLO3==1.0
zipp==0.6.0
